/* section */

.apply-section {
	height: calc(100vh - 150px);
}

.apply-container {
	height: 100%;
}

.creator-apply {
    height: 100%;
}


.sellerTitle > h2 {
  text-align: center;
  margin: 20px auto;
  height: 100px;
  line-height: 100px;
}

.seller-form {
  width: 485px;
  margin: 0 auto;
  margin-top: calc(10vh);
}

.plus-btn > button {
  background-color: white;
}

.seller-form-inner {
  position: relative !important;
  display: table !important;
}

.seller-btn {
  position: relative !important;
}

#careerGroup {
	margin-bottom: 10px;
}

#awardsGroup{
	margin-bottom: 10px;
}