
.insert-all{
    margin-top: 50px;
    overflow: hidden;
}
/* ------왼쪽영역---------------- */
.insert-left-box{
    margin-top: 20px;
    float: left;
}
.insert-ul-box li{
    margin-bottom: 20px;
    
}
.insert-ul-box li a{
    font-size: 17px;
    font-weight: 550;
    text-decoration: none;
    color: rgb(116, 116, 116);
}
.insert-ul-box li a:hover{
    color: #303030;
    border-bottom: 2px solid #454545;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* ------오른쪽 영역------------- */
.insert-question-sector{
	overflow: hidden;
}
.insert-right-box{
    border: 2px solid #eee;
    padding: 20px;
    margin-left: 50px;
   /* float: left;
    */
    margin-bottom: 20px;
}
/* *******문의 등록******* */
/* 문의 등록 제목  영역 */
.insert-question-title-box{
    float: left;
    height: 445px;
    border-right: 3px solid #eee;
    padding-right: 10px;
}
.insert-question-title-box div{
    margin-bottom: 15px;
}
.insert-question-title-box div p {
    text-align: left;
    font-weight: 550;
    font-size: 17px;
}
.insert-question-title-box div span{
    padding-top: 3px;
    color: hsl(197, 88%, 36%);
    font-weight: 550;
    font-size: 11px;
}
.insert-question-kinds{
    overflow: hidden;
}
.insert-question-kinds > p, .insert-question-kinds > span{
    float: left;
}
.insert-question-title{
    overflow: hidden;
}
.insert-question-title > p, .insert-question-title > span{
    float: left;
}
.insert-question-content{
    overflow: hidden;
}
.insert-question-content > p,.insert-question-content > span{
    float: left;
}
/* 문의 등록 input 영역 */
.insert-input-kinds{
    margin-left: 30px;
    float: left;
}
.insert-input-kinds div select{
    border: 2px solid #c7c6c6;
}
.insert-input-title input{
    padding-left: 10px;
    width: 100%;
    border: 2px solid #c7c6c6;
}
.insert-input-kinds div{
    margin-bottom: 25px;
}
.insert-input-id{
    width: 20%;
}
.insert-input-text{
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
    border: 2px solid #c7c6c6;
}
/* *******첨부 파일 등록******* */

.insert-file-puls-sector{
    border-bottom: 2px solid #c7c6c6;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.insert-file-icon{
    float: left;
}
.insert-file-icon p{
    margin-left: 400px;
    font-weight: 550;
}
.insert-file-funtion-box{
    float: right;
}
input.upload_text { /*읽기전용 인풋텍스트*/
   float:left;
   width:230px;/* 버튼 포함 전체 가로 길이*/
   height:21px;
   line-height:21px;
   padding:0 3px;
   border:1px solid #bbb;
    color: #858585;
    text-align: center;
}

div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/
   position:absolute;
   top:0;
   right:0;
   cursor:pointer;
   opacity:0;
   filter:alpha(opacity=0);
   -ms-filter:"alpha(opacity=0)";
   -moz-opacity:0;
}
div.upload-btn_wrap {/*버튼테두리 감싼 div*/
   overflow:hidden;
   position:relative;
   float:left;
   width:85px;/*width, height 값은 button(찾아보기)값과 같아야함 */
   height:21px;
   padding-left:3px;
}
div.upload-btn_wrap button {/*버튼 div*/
   
    width:80px;
   height:21px;
   font-weight:bold;
   background:white;
   border:1px solid #c4c4c4;
   color:#858585;
}
.upload-btn_wrap span{
    width: 80px;
}
/* *******문의하기 취소하기 버튼영역******* */
.insert-btn-qne{
    overflow: hidden;
    margin-bottom: 30px;
}
.insert-btn-left{
    margin-right: 10px;
    float: right;
}
.insert-btn-right{
    float: right;
}
.insert-input-answer{
    display: none;
}
/*-------------------------*/

/* 파일업로드 버튼 바꾸기 */
	.filebox label {
		display: inline-block;
		padding: 6px 10px;
		color: #fff;
		font-size: inherit;
		line-height: normal;
		vertical-align: middle;
		background-color: #5cb85c;
		cursor: pointer;
		border: 1px solid #4cae4c;
		border-radius: none;
		-webkit-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}
	
	.filebox label:hover {
		background-color: #6ed36e;
	}
	
	.filebox label:active {
		background-color: #367c36;
	}
/*-------------------------*/
/* sns파일 업로드시 미리보기  */
	.fileDiv {
		height: 100px;
		width: 200px;
		display: none;
		margin-bottom: 10px;
	}
	
	.fileDiv img {
		width: 100%;
		height: 100%;
	}
	/* 모달창 조절 */
	.modal-body {
		padding: 0px;
	}
	
	.modal-content>.row {
		margin: 0px;
	}
	
	.modal-body>.modal-img {
		padding: 0px;
	}
	
	.modal-body>.modal-con {
		padding: 15px;
	}
	
	.modal-inner {
		position: relative;
	}
	
	.modal-inner .profile {
		position: absolute; /*부모기준으로 위치지정 릴레이티브*/
		top: 0px;
		left: 0px;
	}
	
	.modal-inner .title {
		padding-left: 50px;
	}
	
	.modal-inner p {
		margin: 0px;
	}