.mypage{
    padding: 4vh 0px;	
/*     min-height: 1200px; */
    min-height: calc(100vh - 150px);
}

.mypage-container{
    width:40%;
    margin:0 auto;
    
}

@media (max-width:767px){ 
    .mypage-container{
        width: 100%;
    }
}

.mypage-table{
	margin-bottom:10px !important;
}

.mypage-title{
    text-align: center;   
    margin-bottom: 15px; 
}

.mypage-title > span{
    font-size: 23px;
    font-weight: 700;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding:10px;
    margin-top: 10px;
    display: inline-block;
    
}

.mypage-nav{
    border-bottom: 0;
    width:100%;
    margin-top: 37px;
    border-bottom: 1px solid #777;
}

.mypage-nav li{
    float:right;
}

.m-title{
	font-weight:bold;
}

.mypage-nav li a{
    color:black;
    margin:0px;
}

#mypage-form{
	padding: 0px 10px;
	margin-top: 30px;
}

.mypage-table-body{
	margin-top: 47px
}


.mypage-nav > li.active > a, .mypage-nav > li.active > a:hover, .mypage-nav > li.active > a:focus {
    color: black;
    cursor: default;
    background-color: #eee;
    border: 1px solid #777;
    border-bottom: 1px solid #fff !important;
}

.mypage-wrap{
    /* border: 1px solid #d2d2d2;   */
    min-height: 650px;
    
}

#mypageNav {
    margin-top: 37px;
}


.mypage-input{
	margin-bottom: 5px;
    padding: 0;
    text-indent: 6px;	
}


.mypage-input:focus{
    border-color: #777;
    box-shadow: none;
}


.mypage-table > thead > tr > th, .mypage-table > tbody > tr > th, .mypage-table > tfoot > tr > th, .mypage-table > thead > tr > td, .mypage-table > tbody > tr > td, .mypage-table > tfoot > tr > td {
    padding: 2px 0px !important;
    line-height: 1.42857143 !important;
    vertical-align: top !important;
    border-top: 0 !important;
}

.mypage-modify-ph, .mypage-modify-zipcode{
    width: 79%;
    float: left;
    border-radius: 4px 0px 0px 4px;
}

.mypage-modify-Btn{
    float: left;
    border-radius: 0px 4px 4px 0px;
    width: 21%;
}

.mypage-content{
    padding-top: 10px;
    padding-left: 10px;	
    text-align: left;
    box-sizing: border-box;    
}


.mypage-content-body tr{
    border-top: 1px solid #fff;
}

.mypage-content-body tr td{
    color:black;
}

.mypage-content-body tr td a{
    color:black;
}

.mypage-content-page li a{
    color: black;
    
}

.mypage-content-wrap{
	border-collapse: separate;
	border-spacing: 0 2px;
}

.mypage-content-page{
	margin:10px 0px;
}

.mypage-content-wrap > tbody > tr > td{
    padding: 9px 8px;
}

#userPw.aaa:focus, #userEmail.aaa:focus, #emailAuth.aaa:focus, #userCellNum.aaa:focus{
		border-color:red;
}
	
#userPw.bbb:focus, #userEmail.bbb:focus, #emailAuth.bbb:focus, #userCellNum.bbb:focus{
		border-color:#66afe9;			
}
			
.bbb{
		background-color:rgb(232, 240, 254);
}

.mypage-noContent{
	min-height: 180px;
    text-align: center;
    line-height: 160px;
}

.mypage-noContent p {
	font-size: 18px;
}

.mypage-content-page .active a{
	z-index: 2 !important;
    color: black !important;
    cursor: default !important;
    background-color: #fff !important;
}

#mypage-modify-btn{
	height:40px;
}

.tab-content.mypage-wrap {
    margin-top: 12px;
}

input#addrBasic {
    margin-top: 0;
}

.mypage-modify-btnheight{
	height: 40px;
}

.mypage-content-wrap > thead > tr > td{
	font-weight: bold;
}
