<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hirehigher.jobboard.mapper.JobBoardMapper">

	<select id="getList" resultType="JobBoardVO">
  		<![CDATA[
   		select *
		from (select @rownum := @rownum + 1 rn,
		             a.*     
		      from (select *
		            from JOBBOARD
		            where
		]]>

		<if test="searchType == 'title' "> TITLE like concat('%',#{searchName},'%') </if>
		<if test="searchType == 'company' "> COMPANYNAME like concat('%',#{searchName},'%') </if>
		<if test="searchType == null or searchType == '' "> 1 = 1 </if>
				
		<![CDATA[            
		order by bno desc) a
		) b, (select @rownum := 0) c
		where rn > (#{pageNum}-1) * #{amount} and rn <= #{pageNum} * #{amount}
		]]>
	</select>

	<select id="getTotal" resultType="int">
		select count(*) as total
		from JOBBOARD
		where
		<if test="searchType == 'title' "> TITLE like CONCAT('%',#{searchName},'%') </if>
		<if test="searchType == 'company' "> COMPANYNAME like CONCAT('%',#{searchName},'%') </if>
		<if test="searchType == null or searchType == '' "> 1 = 1 </if>
	</select>

	<select id="getDetail" resultType="JobBoardDetailVO">
		select b.*, a.TITLE, a.USERID, a.COMPANYNAME
		from JOBBOARD a inner join JOBBOARDDETAIL b on a.BNO = b.BNO
		where b.BNO = #{bno}
	</select>
	
	<update id="update1">
				update JOBBOARDDETAIL
   				set
   				GENDER = #{gender},
   				AGE = #{age},
   				EDU = #{edu},
   				EMPTYPE = #{empType},
   				RECNUM = #{recNum},
   				PREFERENCE = #{preference},
   				REQUIREDDOCS = #{requiredDocs},
   				SALARY = #{salary},
   				CONTRACT = #{contract},
   				WORKDAYS = #{workDays},
   				WORKTIME = #{workTime},
   				WELFARE = #{welfare},
   				DEADLINE = #{deadline},
   				HRMANAGER = #{HRManager},
				HRCONTACT = #{HRContact},
				COMPANYADDR = #{companyAddr},
				POSITION = #{position},
				WAYTOAPPLY =#{wayToApply},
				RECPLAN = #{recPlan}
				where BNO = #{bno}   			
   </update>
   <update id="update2">
   	   			update JOBBOARD
   				set
   				TITLE = #{title}
   				where BNO = #{bno}   			
   </update>
   
   <insert id="regist1">
   		insert into JOBBOARD(USERID, USERNAME, COMPANYNAME, TITLE, REGDATE)
   		values(#{userId}, #{userName}, #{companyName}, #{title}, now())
   </insert>
   <insert id="regist2">
      	insert into JOBBOARDDETAIL 
   		(GENDER, AGE, EDU, EMPTYPE, RECNUM, PREFERENCE, REQUIREDDOCS,
   		SALARY, CONTRACT, WORKDAYS, WORKTIME, WELFARE, COMPANYADDR, POSITION,
   		WAYTOAPPLY, RECPLAN, DEADLINE, HRMANAGER, HRCONTACT)
   		values
   		(
   		#{gender},
   		#{age},
   		#{edu},
   		#{empType},
   		#{recNum},
  		#{preference},
   		#{requiredDocs},
  		#{salary},
  		#{contract},
 		#{workDays},
   		#{workTime},
   		#{welfare},
   		#{companyAddr},
   		#{position},
   		#{wayToApply},
   		#{recPlan},
   		#{deadline},
   		#{HRManager},
		#{HRContact}		
   		)	
   </insert>
   
   <delete id="delete1">
   		delete from JOBBOARD where BNO = #{bno}
   </delete>
   <delete id="delete2">
   		delete from JOBBOARDDETAIL where BNO = #{bno} 
   </delete>   
   
   <update id="viewCount" parameterType="int">
   		update JOBBOARD set VIEWCOUNT = VIEWCOUNT + 1 where BNO = #{bno}
   </update>

   

</mapper>